<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Login User</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <ul class="list-group">
    <li class="list-group-item d-flex list-group-item-secondary justify-content-between align-items-center">
      <div>
        Subject
      </div>
      <span class="badge badge-primary badge-pill">Group</span>
      <form th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" action="#"
        th:action="@{/api/user/login}" method="get">
        <div>
          Delete
        </div>
      </form>
    </li>
    <div th:each="subj : ${subjects}">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div th:text="${subj.subjectName}">-</div>
        <span class="badge badge-primary badge-pill" th:text="${subj.subjectGroup}">-</span>
        <a th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}"
          th:href="@{/api/user/{id1}/deleteSubject/{id2}(id1=${user.id}, id2=${subj.subjectId})}"
          class="btn btn-danger">
          X
        </a>
      </li>
    </div>
  </ul>
</body>

</html>